article {
	background-color: greenyellow;
	border: 2px solid black;
	color: black;
	margin: 20px 5px;
	padding: 15px;
	width: 400px;
	text-align: center;
	transition: all 5s;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-ms-transition: all 5s;
	-o-transition: all 5s;
}

article p {
	font: 30px Tahoma;
	font-weight: bold;
	widows: 100%;
}

/*article:hover {
	height: 400px;
	width: 800px;
}*/

/*article:hover {
	background: black;
	color: greenyellow;
	transform: translate(150px, 300px);
	border: 2px solid greenyellow;
	-webkit-transform: translate(150px, 300px);
	-moz-transform: translate(150px, 300px);
	-ms-transform: translate(150px, 300px);
	-o-transform: translate(150px, 300px);
}*/

/*article:hover {
	background-color: black;
	color: greenyellow;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}*/

/*article:hover {
	background: black;
	color: greenyellow;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
}*/

article:hover {
	background: black;
	color: greenyellow;
	transform: skew(10deg, 10deg);
	-webkit-transform: skew(10deg, 10deg);
	-moz-transform: skew(10deg, 10deg);
	-ms-transform: skew(10deg, 10deg);
	-o-transform: skew(10deg, 10deg);
}

article:hover {
	background: black;
	color: greenyellow;
	transform: translate(150px, 150px) rotate(360deg) scale(1.5)
		skew(10deg, 10deg);
	-webkit-transform: translate(150px, 150px) rotate(360deg) scale(1.5)
		skew(10deg, 10deg);
	-moz-transform: translate(150px, 150px) rotate(360deg) scale(1.5)
		skew(10deg, 10deg);
	-ms-transform: translate(150px, 150px) rotate(360deg) scale(1.5)
		skew(10deg, 10deg);
	-o-transform: translate(150px, 150px) rotate(360deg) scale(1.5)
		skew(10deg, 10deg);
}
